<section class="container">
  <div class="section-abouts">
    <h2 class="section-title-abouts">About Us</h2>

    <div class="section-blok-abouts">
      <ul class="section-abouts-subtitle">
        <div class="section-abouts-list-first">
          <li class="section-abouts-item">
            <p class="section-abouts-text">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish accessory
              on your wrist.
            </p>
          </li>
        </div>
        <div class="section-abouts-list-second">
          <li class="section-abouts-item">
            <p class="section-abouts-text">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device–it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best?
            </p>
          </li>
        </div>
      </ul>
      <div class="section-abouts-btn-accent">
        <button class="section-abouts-btn" type="button">View catalog</button>
      </div>
    </div>
  </div>
  <div class="section-abouts-pic">
    <picture>
      <source
        srcset="
          ../img/images/about-desk1.jpg    1x,
          ../img/images/about-desk1-2x.jpg 2x
        "
        media="(min-width: 1158px)"
      />
      <source
        srcset="
          ../img/images/about-tab1.jpg    1x,
          ../img/images/about-tab1-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/images/about-mob1.jpg    1x,
          ../img/images/about-mob1-2x.jpg 2x
        "
        media="(max-width: 768px)"
      />
      <img
        class="section-abouts-icon"
        src="../img/images/about-mob1.jpg"
        alt="clock"
        width="335"
        height="446"
      />
    </picture>
  </div>
</section>
