<section class="contact-us-section">
  <div class="container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-wrap">
      <p class="contact-us-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-us-form">
        <label for="user-name" class="contact-us-lable"></label>
        <input
          class="contact-us-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Name"
          required
        />
        <label for="user-email" class="contact-us-lable"></label>
        <input
          class="contact-us-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
        <label for="user-phone" class="contact-us-lable"></label>
        <input
          class="contact-us-input"
          type="tel"
          name="user-phone"
          pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$ (+380-XX-XXX-XX-XX)"
          id="user-phone"
          placeholder="+380"
          required
        />
        <textarea
          name="user-comment"
          id="user-comment"
          placeholder="Comment"
          class="contact-us-textarea"
        ></textarea>
        <button type="submit" class="button">Send</button>
      </form>
    </div>
    <div></div>
  </div>
</section>
