<div class="sale-container">
  <h2 class="sale-title">Sale</h2>
  <div class="watch-img">
    <div>
      <img
        src="../img/images/1-watch-mob.png"
        alt="smartwatch-frontal"
        class="small-watch"
      />
    </div>
    <div>
      <img
        src="../img/images/2-watch-mob.png"
        alt="smartwatch-hours"
        class="small-watch"
      />
    </div>
    <div>
      <img
        src="../img/images/3-watch-mob.png"
        alt="smartwatch-left-side"
        class="small-watch"
      />
    </div>
    <div>
      <img
        src="../img/images/4-watch-mob.png"
        alt="smartwatch-back"
        class="small-watch"
      />
    </div>
  </div>
  <div class="centralimage">
    <img
      src="../img/images/bigwatch-mob.png"
      alt="ten-to-two"
      class="bigwatch"
    />
  </div>
  <div class="container-commander">
    <h3 class="carbon">MARQ&#174; Commander (Gen 2) - Carbon Edition</h3>
    <p class="sale-par">Product tag: 706587</p>
    <div class="euro">
      <div class="euro-yes">
        <p class="yes">&euro;1500</p>
      </div>
      <div class="euro-no">
        <p class="no"><s>3000</s></p>
      </div>
    </div>
    <div>
      <p class="sale-txt">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
    </div>
    <div class="grid-sale">
      <div class="fused">
        <p class="element">Fused carbon fiber</p>
      </div>
      <div class="grade">
        <p class="element">Grade-5 Titanuim</p>
      </div>
      <div class="athlete">
        <p class="element">Athlete</p>
      </div>
      <div class="golfer">
        <p class="element">Golfer</p>
      </div>
      <div class="commander">
        <p class="element">Commander</p>
      </div>
      <div class="andenturer">
        <p class="element">Adventurer</p>
      </div>
    </div>
  </div>
</div>
