<section class="sale-container">
  <h2 class="sale-title">Sale</h2>
  <div class="show-desktop mobile">
    <container class="sale-images">
      <ul class="watch-img">
        <li class="div-small-watch">
          <picture class="small-watch">
          <source
          srcset="/img/imagessmall-pic-one-des-x1.png"
          media="(min-width: 1280px)"/>
          <source 
          srcset="/img/images/small-pic-one-des-x2.png"
          media="(min-width: 1280px)"/>
            <source
              srcset="/img/images/small-pic-one-desktop-x3.png"
              media="(min-width: 1280px)"/> 
              <source
           srcset="/img/images/small-pic-one-tab-x1.png"
           media="(min-width: 768px)"/>
           <source
           srcset="/img/images/small-pic-one-tab-x2.png"
           media="(min-width: 768px)"/>
            <source
              srcset="/img/images/small-pic-one-tablet-x3.png"
              media="(min-width: 768px)"/> 
              <source 
            srcset="/img/images/small-pic-one-mob-x1.png"
            media="(min-width: 320px)"/>
            <source
            srcset="/img/small-pic-one-mob-x2.png"
            media="(min-width: 320px)"/>
            <img src="/img/images/small-pic-one-desktop-x3.png" alt="frontal-side" class="small-watch">
          </picture></li>
        <li class="div-small-watch">
          <picture>
            <source srcset="/img/images/small-pic-two-des-x1.png"
            media="(min-width: 1280px)"/>
            <source
            srcset="/img/images/small-pic-two-des-x2.png"
            media="(min-width: 1280px)"/>
            <source
              srcset="/img/images/small-pic-two-desktop-x3.png"
              media="(min-width: 1280px)" />
              <source
              srcset="/img/images/small-pic-two-tab-x1.png"
              media="(min-width: 768px)"/>
              <source 
              srcset="/img/images/small-pic-two-tab-x2.png"
              media="(min-width: 768px)"/>
            <source
              srcset="/img/images/small-pic-two-tablet-x3.png"
              media="(min-width: 768px)" />
              <source srcset="/img/images/small-pic-two-mob-x2.png"
              media="(min-width: 320px)"/>
              <source
              srcset="/img/images/small-pic-two-mob-x1.png"
              media="(min-width: 320px)"/>
            <img
              src="/img/images/2-watch-mob.png"
              alt="smartwatch-hours"
              class="small-watch"/>
            </picture></li>
        <li class="div-small-watch">
          <picture>
            <source srcset="img/images/small-pic-three-des-x1.png"
            media="(min-width: 1280px)"/>
            <source
            srcset="/img/images/small-pic-three-des-x2.png"
            media="(min-width: 1280px)"/>
            <source
              srcset="/img/images/small-pic-three-desktop-x3.png"
              media="(min-width: 1280px)" />
              <source
              srcset="/img/images/small-pic-three-tab-x1.png"
              media="(min-width: 768px)"/>
              <source 
              srcset="/img/images/small-pic-three-tab-x2"
              media="(min-width: 768px)"/>
            <source
              srcset="/img/images/small-pic-three-tablet-x3.png"
              media="(min-width: 768px)" />
            <img
              src="/img/images/3-watch-mob.png"
              alt="smartwatch-left-side"
              class="small-watch"
          /></picture></li>
        <li class="div-small-watch"> 
          <picture>
            <source
            srcset="/img/images/small-pic-four-des-x1.png"
            media="(min-width: 1280px)"/>
            <source
            srcset="/img/images/small-pic-four-des-x2.png"
            media="(min-width: 1280px)"/>
            <source
              srcset="/img/images/small-pic-four-desktop-x3.png"
              media="(min-width: 1280px)" />
              <source
              srcset="/img/images/small-pic-four-tab-x1.png"
              media="(min-width: 768px)"/>
              <source
              srcset="/img/images/small-pic-four-tab-x2.png"
              media="(min-width: 768px)"/>
            <source
              srcset="/img/images/small-pic-four-tablet-x3.png"
              media="(min-width: 768px)"/>
              <source
              srcset="/img/images/small-pic-four-mob-x1.png"
              media="(min-width: 320px)"/>
              <source
              srcset="/img/images/small-pic-four-mob-x2.png"
              media="(min-width: 320px)"/>
            <img
              src="/img/images/4-watch-mob.png"
              alt="smartwatch-back"
              class="small-watch"
          /></picture></li>
      </ul>

      <div class="centralimage">
        <picture class="bigwatch">  
          <source
          srcset="/img/images/central-img-des-x1.png"
          media="(min-width: 1280px)"/>
          <source
          srcset="/img/images/central-img-des-x2.png"
          media="(min-width: 1280px)"/>       
          <source
            srcset="/img/images/watch-desktop.png"
            media="(min-width: 1280px)"
          /> 
          <source
          srcset="/img/images/central-img-tab-x1.png"
          media="(min-width: 768px)"/>
          <source
          srcset="/img/images/central-img-tab-x2.png"
          media="(min-width: 768px)"/>
          <source
            srcset="/img/images/watch-tablet.png"
            media="(min-width: 768px)"
          />
          <source 
          srcset="/img/images/Central-img-x1.png"
          media="(min-width: 320px)"/>
          <source
          srcset="/img/images/Central-img-x2.png"
          media="(min-width: 320px)"/>
          <img src="/img/images/desktop-bigpic-x3.png" alt="ten-to-two" />
        </picture>
      </div>
    </container>
    <container class="container-commander">
      <h3 class="carbon">
        MARQ&#174; Commander (Gen 2) - <br class="show-tablet" />
        Carbon Edition
      </h3>
      <p class="sale-par">Product tag: 706587</p>
      <div class="euro">
        <div class="euro-yes">
          <p class="yes">&euro;1500</p>
        </div>
        <div class="euro-no">
          <p class="no"><s>3000</s></p>
        </div>
      </div>
      <div>
        <p class="sale-txt">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
      </div>
      <div class="tags">
        <span class="tag-item">Fused carbon fiber</span
        ><span class="tag-item">Grade-5 Titanuim</span>
        <span class="tag-item">Athlete</span>
        <br class="show-tablet" />
        <span class="tag-item">Golfer</span>
        <span class="tag-item">Commander</span
        ><span class="tag-item">Adventurer</span>
      </div>
    </container>
  </div>
</section>
