@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
  font-weight: 700;
  font-style: normal;
}
@media screen {
}
.sale-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.sale-title {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Gilroy';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.64px;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.watch-img {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.div-small-watch {
  width: 100%;
  min-width: 52px;
  min-height: 54px;
}
.small-watch {
  display: flex;
  width: 100%;
  min-height: 54px;
}
.centralimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.bigwatch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 235px;
  min-height: 285px;
  border-radius: 30px;
  padding: 50px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  background: #f3f3f3;
}
.container-commander {
  display: flex;
  align-items: center;
  background: #3350e9;
  border: 0.5px;
  border-color: #3350e9;
  border-radius: 30px;
  padding: 48px 28px;
  flex-direction: column;
}
.carbon {
  font-family: 'Gilroy';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.48px;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-par {
  display: flex;
  align-self: flex-start;
  color: rgba(251, 251, 251, 0.5);
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-bottom: 20px;
}
.euro {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  gap: 9px;
  padding-bottom: 28px;
}
.euro-yes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
}
.yes {
  color: #fbfbfb;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
}
.euro-no {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 8px 12px;
}
.no {
  color: rgba(251, 251, 251, 0.5);
  font-family: 'Gilroy';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.sale-txt {
  display: flex;
  justify-content: center;
  color: rgba(251, 251, 251, 0.7);
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-bottom: 28px;
}
.tags {
}
.tag-item {
  display: inline-block;
  color: #fbfbfb;
  font-family: 'Gilroy';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  text-align: center;
  margin-right: 8px;
  margin-top: 8px;
}

.show-tablet {
  display: none;
}
/* Tablet */ 
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .show-tablet {
    display: block;
  }
  .container-commander {
    padding: 60px;
    align-items: flex-start;
  }
  .sale-images {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row;
  }
  .watch-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .div-small-watch {
    padding: 18px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    background: #f3f3f3;
  }
  .centralimage {
    width: 100%;
  }
}
/* desktop */
@media screen and (min-width: 1280px) {
  
}
